@import "../utilities/colors";
@import "../utilities/dimensions";

.btn-action {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 15px;
    
    background: $primary;
    border-radius: 10px;
    padding: $multipleOfFive * 3;

    text-decoration: none;

    .btn-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: $white;
    }
}