@import './utilities/colors';
@import './utilities/dimensions';
@import '../fonts/SF-Pro-Text/index.scss';

// Reset Global Settings
html, body {
    font-family: 'SF Pro Text', sans-serif;

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

// Custom Global Settings
.wrapper {
    width: 100%;
    height: auto;

    .container {
        margin: 0 auto;
        padding: 0 ($multipleOfFive * 18);
        max-width: $monitorScreen;
    }
}

// Global Responsive Settings
@media screen and (max-width: $mobileScreen) {
    .wrapper .container {
        padding: 0 ($multipleOfFour * 7);
    }
}

@media screen and (max-width: $tabletScreen) {
}

@media screen and (max-width: $laptopScreen) {
}

@media screen and (max-width: $monitorScreen) {
}