@import "../utilities/colors";
@import "../utilities/dimensions";

#main {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wrapper { text-align: center; }

    .main-title {
        &.wrapper { margin-bottom: $multipleOfFour * 10; }

        .text {
            width: 100%;

            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 86px;
            
            color: $black;
        }
    }

    .search-dropdown .container {
            max-width: $multipleOfFive * 140;
            margin: 0 auto;
    }
}